<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="BLTools.45" version="2.451.6091.23834" targetFramework="net462" />
  <package id="BLTools.WPF.45" version="1.45.1.17021" targetFramework="net462" />
  <package id="BLTools.WPF.Controls.45" version="1.0.0.0" targetFramework="net462" />
</packages>